.projects-container{
    padding-top:4rem ;
    width: 60%;
    margin-right: auto;
    margin: left 115px;;
    padding-left: 15px;
    padding-right: 15px;
}

.projects-grid{
    display: left;
    gap: 2.5rem;

}

.projects.grid.xl{
    gap: 2.5rem;
}

.projects-grid-md-2{
    grid-template-columns: repeat(2, 1fr);

}

.projects-grid-lg-3{
     grid-template-columns: repeat(3, 1fr);
}

.projects-center{
    place-items: left;


}

@media (min-width:786px) and (max-width :1024px){

    .project-grid{
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (min-width:1024px){
    .project-grid{
        grid-template-columns: repeat(3,1fr);
    }
}

